.links > a {
	color: black;
}

.title {
	width: 100vw;
	height: 200px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.contactUsText {
    width: 100vw;
    min-height: 30vh;
    display: flex;
    justify-content: center;
    overflow-wrap: break-word;
}

.text {
	margin: 5%;
	font-size: 1.5rem;
}

a {
	color: var(--hoverColor);
}

.socialLinks {
	width: 100vw;
	height: calc(100vh - 31vh - 90px - 60px - 200px);
	display: flex;
	justify-content: center;
	align-items: center;
}

.link {
	width: 200px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	cursor: pointer;
	color: black;
	text-decoration: none;
}

.link > h1 {
	transition: 0.4s ease-in-out;
}

.link:hover > h1 {
	color: var(--hoverColor);
}

.link > img {
	width: 50px;
	height: 50px;
}

@media screen and (max-width: 720px) {
	
	.titleText{
		font-size: 2.5rem;
	}

	.text{
		max-width: 80vw;
	}

	.socialLinks{
		flex-direction: column;
		height: fit-content;
	}

	.socialLinks > a{
		margin: 20px 0px 20px 0px;
	}

	.link > img{
		width: 100px;
		height: 100px;
	}

}