.links > a {
	color: black;
}

.title {
	width: 100vw;
	height: 200px;
	display: flex;
	justify-content: center;
	align-items: center;
}


:root {
	--border-color: #dfc891;
	--text-color: #ffa849;
	--gray-text-color: #ce8b45cb;
}

.games-container {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	margin: 2rem;
	gap: 2rem;
}

.game {
	border: 1px solid var(--border-color);
	width: 300px;
	color: var(--text-color);
	border-radius: 5px;
	padding: 1rem;
	transition: box-shadow 0.3s ease;
	transition: rotate 0.3s ease;
	display: flex;
	flex-direction: column;
	text-align: center;
}

.game:hover {
	box-shadow: 0 4px 8px var(--border-color);
	cursor: pointer;
	rotate: 2deg;
}

.game-image {
	height: 200px;
	object-fit: cover;
	border-radius: 5px;
}

.game-title {
	margin: 10px 0;
	font-size: 20px;
	font-weight: bold;
}

.game-title a {
	text-decoration: none;
	color: var(--text-color);
}

.game-title:hover {
	text-decoration: underline;
}

.game-description {
	font-size: 16px;
}

.game-genre {
	margin: 5px 0px 10px 0px;
	font-size: 14px;
	color: var(--gray-text-color);
}

.game-icon {
	font-size: 24px;
}