:root {
    --pixel-1: #ffd167;
    --pixel-2: #f04770;
    --pixel-3: #6a30c3;
    --pixel-4: #16003b;
    --pixel-5: #108ab1;
    --pixel-6: #06d7a0;
    --pixel-7: #0597e9;
}

.gameHolder {
  background-color: var(--pixel-5);
  border-radius:25px;
  padding: 10px;
  display:flex;
  flex-direction:column;
  align-items: center;
  justify-content:top;
  color:white;
}

.gameHolder:hover {
background-color: var(--pixel-6);
}

.gameImage {
  width:300px;
  height:220px;
  border-radius:25px;
}

.download {
  width: 200px;
  height: 60px;
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
  border: none;
  border-radius: 30px;
  color: white;
  background-color: var(--pixel-1);
  cursor: pointer;
}

.download:hover {
  background-color: var(--pixel-2)
}