<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="./components/contactCard/style.css">
        <title>Contact Card</title>
    </head>
    <body>
    <div class="contactHolder">
        <img class="contactTypeLogo" id="contactTypeLogo">
        <p class="desc" id="desc"></p>
        <button class="action" id="action"></button>
    </div>
    </body>
</html>