<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="./components/navbar/style.css">
        <title>Navbar</title>
</head>
<body>
    <header>
        <div class="brand" id="brand">
        <span class="t1">
        Frozen<span class="t2">Pixel</span>
        </span>
        </div>
        <div class="items">
        <a class="nav-link" href="">Games</a>
        <a class="nav-link" href="">Team</a>
        <a class="nav-link" href="">Merch</a> 
        <a class="nav-link" href="">Contact</a>
        </div>
        <div id="hamburger">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
        </div>
    </header>
</body>
</html>