.links > a{
    color: black;
}

.title{
    width: 100vw;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.titleText{
    font-size: 4rem;
}

.aboutUsText{
    width: 100vw;
    height: calc(100vh - 10vh - 200px - 60px);
    display: flex;
    justify-content: center;
}

.text{
    max-width: 95vw;
    font-size: 1.5rem;
}