:root {
	--pixel-1: #ffd167;
	--pixel-2: #f04770;
	--pixel-3: #6a30c3;
	--pixel-4: #16003b;
	--pixel-5: #108ab1;
	--pixel-6: #06d7a0;
	--pixel-7: #0597e9;
}

body {
	background-color: var(--pixel-7);
	overflow-x: hidden;
}

.main {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 40px;
	width: 100vw;
	height: 80vh;
	justify-content: center;
	align-items: center;
}
