---
import Footer from "../components/Footer";
import Navbar from "../components/Navbar";
import "../styles/global.css";
import "../styles/games.css";
import GameRow from "../components/GameRow";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>Our Games</title>
	</head>
	<body>
		<Navbar client:load/>
		<GameRow client:load />
		<Footer />
	</body>
</html>
