---
import "../components/newDesign/main.css";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>FrozenPixel Games</title>
	</head>
	<body>
		<div class="background">
			<nav>
				<header class="brand">FrozenPixel</header>
				<ul>
					<li><a href="/">Home</a></li>
					<li><a href="/games">Games</a></li>
					<li><a href="/about">About</a></li>
					<li><a href="/contact">Contact</a></li>
				</ul>
			</nav>
			<h1 class="title">Welcome to FrozenPixel.</h1>
			<h1 class="subtitle">We make games.</h1>
		</div>
	</body>
</html>
