---
import "../components/newDesign/main.css";
import "../components/newDesign/home.css";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>FrozenPixel Games</title>
	</head>
	<body>
		<div class="background">
			<nav>
				<div class="navLeft">
					<img class="logo" src="fpgLogo.svg" alt="">
					<h1 class="brandText">FrozenPixel</h1>
				</div>
				<div class="navRight">
					<ul class="links">
						<a href="">Home</a>
						<a href="">Games</a>
						<a href="">About</a>
						<a href="">Contact</a>
					</ul>
				</div>
			</nav>

			<div class="headings">
				<h1 class="title">Welcome to FrozenPixel.</h1>
				<h1 class="subtitle">We make games.</h1>
				<div class="verticalSpaceLarge"></div>
				<button class="gamesButton">Explore Games</button>
			</div>

			<footer>
				<span>&copy; 2023 FrozenPixel Games</span> <!-- Todo: Write javascript to dynamically set the current year -->
			</footer>
		</div>
	</body>
</html>
