---
import "../components/newDesign/main.css";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>FrozenPixel Games</title>
	</head>
	<body>
		<div class="background">
			<div class="nav">
				<div class="navLeft">
					<img class="logo" src="fpgLogo.svg" alt="">
					<h1 class="brandText">FrozenPixel</h1>
				</div>
				<div class="navRight">
					<ul class="links">
						<li>Home</li>
						<li>Games</li>
						<li>About</li>
						<li>Contact</li>
					</ul>
				</div>
			</div>

			<div class="headings">
				<h1 class="title">Welcome to FrozenPixel.</h1>
				<h1 class="subtitle">We make games.</h1>
			</div>
		</div>
	</body>
</html>
