@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

:root{
    --pixel-1:#03045e;
    --pixel-2:#023e8a;
    --pixel-3:#0077b6;
    --pixel-4:#0096c7;
    --pixel-5:#00b4d8;
    --pixel-6:#48cae4;
    --pixel-7:#90e0ef;
    --pixel-8:#ade8f4;
    --pixel-9:#caf0f8;
}

*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}
