:root {
  --pixel-1: #ffd167;
  --pixel-2: #f04770;
  --pixel-3: #6a30c3;
  --pixel-4: #16003b;
  --pixel-5: #108ab1;
  --pixel-6: #06d7a0;
  --pixel-7: #0597e9;
}

.hero {
  width: 100vw;
  height: 80vh;
  background-color: var(--pixel-7);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.latestGame {
  width: 300px;
  height: 300px;
  margin-top: 5vh;
  border-radius: 40px;
  display: flex;
}

.latestGame:hover {
  transform: scale(1.1);
}

.heroText {
  color: white;
  margin: 40px;
  font-size: 1.5rem;
  line-height: 1.2;
  text-align: center;
}

.space {
  height: 20px;
}

.playStore,
.itch {
  width: 200px;
  height: 60px;
  font-size: 1rem;
  border: none;
  border-radius: 30px;
  color: white;
  background-color: var(--pixel-1);
}

.playStore:hover,
.itch:hover {
  background-color: var(--pixel-2);
}

footer {
  width: 100vw;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
  color: white;
  background-color: var(--pixel-3);
}
