:root {
  --pixel-1: #ffd167;
  --pixel-2: #f04770;
  --pixel-3: #6a30c3;
  --pixel-4: #16003b;
  --pixel-5: #108ab1;
  --pixel-6: #06d7a0;
  --pixel-7: #0597e9;
}

.temp {
  width: 100vw;
  height: 80vh;
  display: flex;
  justify-content: center;
  font-size: 2rem;
  align-items: center;
}
